
    <div id="page" class="site">
          <div class="container">
            <div class="row">
              <div class="col">
                <section class="container-server-errors">
                  <div class="server-errors pages-card">
                    <div class="row">
                      <div class="col">
                        <div>{{message}}</div>
                        <div class="status-error text-theme hertbit"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
        </div>
      </div>

