<div class="body_wrapper">
    <section class="signup_area">
        <div class="row ml-0 mr-0">
            <div class="sign_left signin_left">
                <br>
                <h2>Maven, Inc</h2>
                <img class="position-absolute top" src="assets/img/signup/top_ornamate.png" alt="top">
                <img class="position-absolute bottom" src="assets/img/signup/bottom_ornamate.png" alt="bottom">
                <img class="position-absolute middle" src="assets/img/signup/door.png" alt="bottom">
                <div class="round"></div>
            </div>
            <div class="sign_right signup_right">
                <div class="sign_inner signup_inner" *ngIf="authService.firebaseUser">
                    <div class="text-center">
                        <h3>You are signed in click a button to enter</h3>
                        <div class="mb5">
                            <button (click)="onEnter()" class="btn action_btn thm_btn">Database</button>  &nbsp;                           
                            <button (click)="onProjectSummary()" class="btn action_btn thm_btn">Project Summary</button>
                            <br>
                        </div>

                        <i>Bridging The Gap Between Leaders And Their Communities</i>
                    </div>    
                </div>
                <div class="sign_inner signup_inner" *ngIf="!authService.firebaseUser">
                    <div class="text-center">
                        <h3>Sign in to the AI platform</h3>
                        <a style="cursor: pointer;" (click)="onGmail()" class="btn-google"><img src="assets/img/signup/gmail.png" alt=""><span class="btn-text">Sign in with Gmail</span></a>
                    </div>
                    <div class="divider">
                        <span class="or-text">or</span>
                    </div>
                    <form *ngIf="!isLoggedIn" #signInForm="ngForm" (ngSubmit)="onSubmit(); signInForm.reset();" class="form-signin">
                        <div class="col-lg-12 form-group">
                            <div class="small_text">Your email</div>
                            <input [(ngModel)]="emailAddress" tabindex="1" autofocus #email="ngModel" type="email" id="emailAddress"
                            name="email" autocomplete="off" class="form-control" placeholder="info@maven-inc.com" required>
                        </div>

                        <div class="col-lg-12 text-center mt-3">
                            <button type="submit" class="btn action_btn thm_btn" [disabled]="!signInForm.form.valid">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
