<section class="recommended_topic_area">
    <div class="container">
        <div class="recommended_topic_inner">
            <img class="doc_shap_one" src="assets/img/new/shap.png" alt="">
            <div class="doc_round one" data-parallax='{"x": -80, "y": -100, "rotateY":0}'></div>
            <div class="doc_round two" data-parallax='{"x": -10, "y": 70, "rotateY":0}'></div>
            <div class="doc_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Recommended Documents</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Jump quickly to pre-defined list</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/new/smile.png" alt="">
                        <a href="#">
                            <h3>Getting Started</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Welcome</a></li>
                            <li><a href="#">Context</a></li>
                            <li><a href="#">Vision</a></li>
                            <li><a href="#">Where to begin</a></li>
                            <li><a href="#">Process</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.3s">
                        <img src="assets/img/new/house.png" alt="">
                        <a href="#">
                            <h3>Advanced</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Hubspot</a></li>
                            <li><a href="#">Integration</a></li>
                            <li><a href="#">Workflows</a></li>
                            <li><a href="#">TotaraLMS</a></li>
                            <li><a href="#">TaletLMS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.4s">
                        <img src="assets/img/new/doc.png" alt="">
                        <a href="#">
                            <h3>Knowledge Base</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Organising content in Ghost</a></li>
                            <li><a href="#">Using the editor</a></li>
                            <li><a href="#">General publication settings</a></li>
                            <li><a href="#">Publishing Options</a></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.5s">
                        <img src="assets/img/new/bag.png" alt="">
                        <a href="#">
                            <h3>User Settings</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">How do I reset my password</a></li>
                            <li><a href="#">Totora Login</a></li>
                            <li><a href="#">Talent LMS Login</a></li>
                            <li><a href="#">Imports and exports</a></li>
                            <li><a href="#">Dashboards</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.2s">
                <a href="#" class="question_text">Want to know more or have a<br> Question?
                </a>
            </div>
        </div>
    </div>
</section>