<section class="doc_community_area">
    <img class="shap_one" src="assets/img/new/community_bg_shap_one.png" alt="">
    <img class="shap_two" src="assets/img/new/community_bg_shap_two.png" alt="">
    <div class="container">
        <div class="doc_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s">How To Use</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">Project Documentation Tool
            </p>
        </div>
        <div class="doc_community_info">
            <div class="doc_community_item wow fadeInUp" data-wow-delay="0.2s">
                <div class="doc_community_icon">
                    <i class="icon_folder-alt"></i>
                </div>
                <div class="doc_entry_content">
                    <a href="#">
                        <h4>Category Setup</h4>
                    </a>
                    <p>Setting up and customizing your documents</p>
                    <div class="doc_entry_info">
                        <div class="text">
                            0 articles in this collection
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc_community_item wow fadeInUp" data-wow-delay="0.3s">
                <div class="doc_community_icon">
                    <i class="icon_comment_alt"></i>
                </div>
                <div class="doc_entry_content">
                    <a href="#">
                        <h4>Entering Documents</h4>
                    </a>
                    <p>How to enter various types for documents</p>
                    <div class="doc_entry_info">
                        <div class="text">
                            0 articles in this collection
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc_community_item wow fadeInUp" data-wow-delay="0.4s">
                <div class="doc_community_icon">
                    <i class=" icon_lightbulb_alt"></i>
                </div>
                <div class="doc_entry_content">
                    <a href="#">
                        <h4>How to Find Information</h4>
                    </a>
                    <p>Searching the database of documnets for specific information</p>
                    <div class="doc_entry_info">
                        <div class="text">
                            0 articles in this collection
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.4s">
                <a href="#" class="question_text">Contact us and we'll get back to you<br>
                    as soon as we can.
                </a>
            </div>
        </div>
    </div>
</section>