<section class="doc_banner_area banner_creative1">
    <ul class="list-unstyled banner_shap_img">
        <li><img src="assets/img/new/banner_shap1.png" alt=""></li>
        <li><img src="assets/img/new/banner_shap4.png" alt=""></li>
        <li><img src="assets/img/new/banner_shap3.png" alt=""></li>
        <li><img src="assets/img/new/banner_shap2.png" alt=""></li>
        <li><img data-parallax='{"x": -180, "y": 80, "rotateY":2000}' src="assets/img/new/plus1.png" alt=""></li>
        <li><img data-parallax='{"x": -50, "y": -160, "rotateZ":200}' src="assets/img/new/plus2.png" alt=""></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="doc_banner_content">
            <h1 style="color:whitesmoke">Maven, Inc.</h1>
            <h2 class="wow fadeInUp">Looking for Something in Particular?</h2>
            <p class="wow fadeInUp" data-wow-delay="0.2s">Search here to find specific data</p>
            <form #dataForm="ngForm" (ngSubmit)="onSubmit(); dataForm.reset();" class="header_search_form">
                <div class="header_search_form_info">
                    <div class="form-group">
                        <div class="input-wrapper">
                            <i class="icon_search"></i>
                            <input type='search' id="searchbox" autocomplete="off" name="search"
                                placeholder="Search Database" />
                            <select class="search-expand-types custom-select" name="post_type"
                                id="search_post_type">
                                <option value="">All Fields </option>
                                <option value="manual_faq">Bugs</option>
                                <option value="product">Escalations</option>
                                <option value="manual_kb">Gaps</option>
                                <option value="manual_portfolio">Help</option>
                                <option value="forum">Plans</option>
                                <option value="manual_documentation">Use Cases</option>
                            </select>
                        </div>
                        <button type="submit" class="header_form_submit">Search</button>
                    </div>

                </div>
                <div class="header_search_keyword">
                    <span class="header-search-form__keywords-label">Suggested Search:</span>
                    <ul class="list-unstyled">
                        <li class="wow fadeInUp" data-wow-delay="0.2s"><a href="#">gap</a></li>
                        <li class="wow fadeInUp" data-wow-delay="0.3s"><a href="#">ty showers</a></li>
                        <li class="wow fadeInUp" data-wow-delay="0.4s"><a href="#">course</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>